/* =====  Geral ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f0f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
}

#title_1 {
    margin-top: 25px;
    font-size: 4rem;
    color: #333;
    padding-top: 2%;
}

/* ===== Formulário ===== */
.form-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    padding-top: 5%;
}

.txt-area {
    width: 100%;
    min-height: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2rem;
    resize: vertical;
    transition: border 0.3s;
    font-family: cursive;
}

.txt-area:focus, .txt-area:hover {
    border-color: #4f46e5;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

#grid_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    padding-top: 2%;
    align-items: center;
}

#txt_url {
    height: 200px;
}

#txt_parameter {
    height: 60px;
}

.btn {
    height: 100%;
    background: rgba(78, 70, 229, 0.9);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s;
    width: 25%;
}
.btn:hover {
    background: rgba(21, 16, 124, 0.9);
}

/* ===== Tabela ===== */
.table-container {
    width: 70%;
    /* max-width: 1000px; */
    overflow-x: auto;
    margin-top: 20px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; /* remove espaço extra */
    text-align: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* --- cabeçalho --- */
th {
    background-color: rgba(78, 70, 229, 0.9);
    color: white;
    padding: 12px;
    font-weight: bold;
    border-right: 1px solid rgba(78, 70, 229, 0.6);
}
/* th:nth-child(1), td:nth-child(1) { width: 5%; }  Posição */
th:nth-child(2), td:nth-child(2) { width: 55%; } /* URL Final */
th:nth-child(3), td:nth-child(3) { width: 25%; } /* Parâmetros */
th:nth-child(4), td:nth-child(4) { width: 15%; } /* Status */

th:last-child, td:last-child {
    border-right: none;
}
/* --- linhas --- */
td {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-right: 1px solid rgba(154, 152, 211, 0.1);
}

tr:nth-child(even) {
    background: rgb(251, 251, 255); /* cor alternada */
}

/* --- urls --- */
.urls {
    font-family: monospace;
    word-break: keep-all;
    white-space: pre-wrap;
    text-align: left;
    overflow-wrap: anywhere; /* quebrar em qualquer momento */
}

.urls a {
    color: #007bff;
    text-decoration: none;
}

.urls a:hover {
    text-decoration: underline;
}

/* --- parâmetros --- */
.params {
    text-align: left;
    color: #555;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.params ul {
    list-style: none; /* remove a bolinha padrão */
    padding: 0;
    margin: 0;
}
.params li::before {
    content: "•";
    color: #4f46e5;
    font-weight: bold;
    display: inline-block;
    width: 1em; /* garantir alinhamento */
}
/* --- status --- */
.status {
    font-weight: bold;
}

/* --- caso não tenha resultado --- */
.sem-resultado {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #555;
}

/* --- loading --- */
.spinner {
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-top: 4px solid #4f46e5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* --- Utils --- */
.apagar {
    display: none;
}
