/* =====  Geral ===== */
* {
    margin: 0;
    font-family: cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

#title_1 {
    margin: 25px;
}

/* ===== Formulário ===== */
form {
    margin: 20px 0;
    display: inline-block;
}

/* ===== Tabela ===== */
.linha_resultado > td, .linha_resultado a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    margin: 20px 40vh;
    border-collapse: collapse;
    text-align: center;
}

.linha_resultado a {
    justify-content: flex-start;
}
