/* =====  Geral ===== */
* {
    margin: 0;
    font-family: cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

#title_1 {
    margin: 25px;
}

/* ===== Formulário ===== */
form {
    margin: 20px 0;
    display: inline-block;
}

/* ===== Tabela ===== */
.urls {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}
.urls a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.params {
    width: 20%;
}

table {
    margin: 20px 40vh;
    border-collapse: collapse;
    text-align: center;
}

.params, .urls {
    text-align: start;
}
