<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Teste de URL</title>
</head>
<body>
    <h1 id="title_1">Verificar Status da URL</h1>
    <form method="POST" id="form-url-param" class="form-container">
        <div id="grid_form">
            <textarea name="url" id="txt_url" class="txt-area" placeholder="Insira a URL por linha" required></textarea>
            <textarea name="parameter" id="txt_parameter" class="txt-area" placeholder="param1; param2; param3;"></textarea>
            <button type="submit" class="btn">Verificar</button>
        </div>
    </form>
    <div class="table-container">
        <table>
            <thead class="apagar">
                <tr id="linha_titulo">
                    <th>Posição</th>
                    <th>URL Final</th>
                    <th>Parâmetros Encontrados</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="results_body">
                <!-- tabela resultados -->
            </tbody>
        </table>
    </div>
</body>
<script src="/static/script.js"></script>
</html>
